<section>
    <article>
        <h3>¡Contactate con nosotros!</h3>
        <form>
            <label for="name">Nombre</label>
            <input type="text" required>

            <label for="email">e-mail</label>
            <input type="email" placeholder="correo@gmail.com" required>

            <label for="phone">Teléfono (opcional)</label>
            <input type="number" placeholder="(249)15466889">

            <label for="message">Mensaje</label>
            <textarea rows="8" cols="25" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </article>
</section>