<h3>Carrito de compras</h3>
<table>
    <thead>
        <tr>
            <th>tipo</th>
            <th>precio</th>
            <th>cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <tr *ngFor="let product of cartList$ | async">
            <td>{{product.tipo}}</td>
            <td>{{product.precio | currency}}</td>
            <td>{{product.quantity}}</td>
        </tr>
    </tbody>
    <p class="text-end">Total: {{total |async| currency}}</p>
    <div class="button">
        <button class="btn-success" (click)="buyProduct()">Comprar</button>
        <button class="btn-danger" (click)="clearCart()">Vaciar</button>
    </div>
</table>