<table class="table table-borderless">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Tipo producto</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}" >
            <td><img [src]="product.image" [alt]="product.tipo"></td>
            <td>{{product.tipo}}</td>
            <td>{{product.precio | currency}}</td>
            <td>
                <span class="badge badge-warning" *ngIf="product.stock==0">Producto no disponible</span>
                <span class="badge badge-warning" *ngIf="product.stock==1">Ultimo disponible</span>
            </td>
            <td><button class="badge badge-success">Comprar</button></td>
        </tr>
    </tbody>
</table>