<table class="table table-borderless">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Tipo producto</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr *ngFor="let product of products" [ngClass]="{'clearance': product.clearance}" >
            <td><img [src]="product.image" [alt]="product.tipo"></td>
            <td>{{product.tipo}}</td>
            <td>{{product.precio | currency}}</td>
            <td>
                <span class="badge badge-warning" *ngIf="product.stock==0">Producto no disponible</span>
                <span class="badge badge-warning" *ngIf="product.stock==1">Ultimo disponible</span>
            </td>
            <td><button class="badge badge-success">Comprar</button></td>
        </tr> -->
        @for (product of products; track product.tipo ) {
            <tr [ngClass]="{'clearance': product.clearance}">
                
                <td><img class="img-thumbnail" [src]="product.imagen" [alt]="product.tipo"></td>
                <td>{{product.tipo}}</td>
                <td>{{product.precio | currency}}</td>
                @if (product.stock == 1) {
                    <td>
                        <span class="badge badge-warning">Ultimo disponible</span>
                    </td>
                } @else if (product.stock == 0) {
                    <td>
                        <span class="badge badge-warning" >Producto no disponible</span>
                    </td>
                } @else {
                    <td>{{product.stock}}</td>
                }
                <td class="tdCompra">
                    <app-input-integer [(quantity)]="product.quantity" [max]="product.stock"></app-input-integer>
                    <button class="btn btn-primary" (click)="addToCart(product)">Agregar</button>
                </td>
            </tr>
        } @empty {
            <tr>
                <td colspan="4"> No hay productos para mostrar</td>
            </tr>
        }
    </tbody>
</table>
